#content {
    margin-left: 4.66%;
    margin-right: 4.66%;
}

#waveContainer {
    padding: 0px;
}

#waveContainer canvas {
    margin-left: 3%; /*(100/4 - 100/6)/2*/
    margin-right: 3%;
}

#controlContainer canvas {
    margin-left: 3%;
    margin-right: 3%;
}

#controlContainer {
    /* margin-left:2.5%; */
}

#p5Container {
    /* transform: translateX(-60%); */
}
  
.slider {
    transform-origin: top left;
    transform: translateY(100%) rotate(270deg);
    -webkit-appearance: none;
    
    width: 20%; 
    height: 50px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#amplitude {
    transform: translateX(-60%) translateY(100%) rotate(270deg);
    /* margin-top: -20%; */
    /* margin-bottom: -20%; */
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 50px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 50px;
    background: #4CAF50;
    cursor: pointer;
}